### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/TDD-Sample.iml
/.idea/**
/PUnit/.idea/misc.xml
/PUnit/.idea/modules.xml
/PUnit/PUnit.iml
/PUnit/.idea/vcs.xml
/PUnit/.idea/workspace.xml
